:root{
    --purple : #7069fa;
    --purple-soft :#f2f2fd;
    --purple-hard : #252248;
    --gray-soft : #f3f4fa;
}

hr {
    border: 0;
    border-top: 1px solid;
    color: #fefeff;
    margin: 1.875rem 0;
    opacity: .1
}
.navbar-vertical{
    background-color: var(--purple);
    max-width: 250px;
    min-height: 100vh;
    scroll-behavior: ;
}

.nav-item{
    margin: 0 .75rem
}

.h6-brand{
    display: inline !important;
    font-size: 18px !important;
}

i {
    color:var(--purple-hard);
}
.color-brand{
    color: var(--purple-soft);
}
.fa-solid{
    position: relative;
    width: 50px;
    text-align: center;
}

.navbar-collapse .navbar-nav .nav-item i{
    color: var(--purple-soft);
    text-transform: uppercase;
    font-size: 20px;
}

.logout{
    position: absolute;
    bottom: 0;
    text-decoration: lowercase;
}
.navbar-brand{
    background-color: red;
    width: 100%;
    height: 100px;
}
